.card {
    border: 5px #143d6a solid;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin: .5rem;
    position: relative;
    transition: all .25s ease-in-out;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background:rgb(255, 255, 255);
  }
  
  .card > .img-container > img {
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
  }